node_modules/
dist/
SVGs/
PNGs/
.DS_Store
*.tsbuildinfo

# Hindari meng-ignore segala sesuatu yang ada pada folder /resources
!/resources/
!/resources/**

SF-Pro.dmg
sf_pkg_expanded/
sf_payload/
penugasan_4.mp4
penugasan_4.mp4
penugasan_4_faststart.mp4
